<?xml version="1.0" encoding="ISO-8859-1"?>


<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>Servlets ejemplo</display-name>
  <description>
     Servlets de ejemplo para practicar
  </description>

<!-- Publicamos nuestro servlet aqui -->

 <servlet>
        <servlet-name>LoginBBDD</servlet-name>
        <servlet-class>controlador.LoginBBDD</servlet-class>
    </servlet>
    
      <servlet-mapping>
        <servlet-name>LoginBBDD</servlet-name>
        <url-pattern>/LoginBBDD</url-pattern>
    </servlet-mapping>    

<servlet>
	<servlet-name>ListarUsuario</servlet-name>
	<servlet-class>controlador.ListarUsuario</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ListarUsuario</servlet-name>
	<url-pattern>/ListarUsuario</url-pattern>
</servlet-mapping>
    


      <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controlador.LogOut</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    


    
<!-- Fin de la publicacion de servlets -->

</web-app>